<section>
    <div class="container">

        <form action="/admin/add-doctors" method="POST" enctype="multipart/form-data">
            <div class="form-group mt-5">
                <label for="">Doctor Name </label>
                <input type="text" class="form-control" name="doctorName" placeholder="Doctor Name">

            </div>
            <div class="form-group">
                <label for="">Specialised</label>
                <input type="text" class="form-control" name="specialised" placeholder="Specialised">
            </div>
            <div class="form-group">
                <label for="">Speciality</label>
                <input type="text" class="form-control" name="speciality" placeholder="Speciality">
            </div>
            <div class="form-group">
                <label for="">Account status</label>
                <input type="text" class="form-control" name="accountStatus" placeholder="Account status">
            </div>
            <div class=" btn-sm ">
                <label for=""> Image</label>
                <input type="file" name="Image" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
    </div>
</section>